.formulario{
	background: aquamarine;
	width: 800px;
	height: 390px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 230px;
	border-radius: 10px;
	padding: 20px;
	font-family: cursive;
	font-size: 16pt;
	border: double;
	animation-name: movimento;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}
.grid{
	display: grid;
	grid-template-columns: 20% 80%;

}
input[type=text], input[type=email], select, textarea{
	width: 90%;
	padding: 12px;
	border: 1px solid rgb(204,204,204);
	border-radius: 5px;
	margin-bottom: 10px;
}
select{
	width: 94%
}
label{
	padding: 12px;
}
textarea{
	height: 200px;
}
input[type=submit]{
	background: rgb(0,191,255);
	color: white;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: right;
	margin-right: 35px;

}
input[type=submit]:hover{
	background: blue;
}
input[type=reset]:hover{
	background: brown;
}
input[type=reset]{
	background: rgb(255,0,0);
	color: white;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: left;
	margin-left: 158px;
}
label:after {
	content: " *";
	color: red;
}
@keyframes movimento{
	from{opacity: 0}
	to{opacity: 1}
}